body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-wrapper {
  display: grid;
  grid-template-areas:
          'header'
          'content';
}

#header {
  height: 100px;
  grid-area: header;
  background: rebeccapurple;
}

#content {
  height: fit-content;
  grid-area: content;
  background: #888da8;
}

.flex-property-set_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-property-set_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}