.idea

# Client files
client/.next
client/node_modules/
client/next-env.d.ts

client/public/manifest/sw.js
client/public/manifest/workbox-*.js
client/public/manifest/worker-*.js
client/public/manifest/sw.js.map
client/public/manifest/workbox-*.js.map
client/public/manifest/worker-*.js.map


# Server files
server/.vercel
server/dist
server/node_modules
server/src/config/key.json
server/.env
