html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
textarea {
  resize: none;
}
textarea:focus-visible {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  border: none;

  &:focus-visible {
    outline: 0;
  }
}

.avatar {
  left: 2px;
}

.success {
  border: 1px solid green !important;
}

.success-image {
  background: green !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: none;
}

#app-wrapper {
  display: grid;
  grid-template-areas:
          'header'
          'content';

  #header {
    height: 100px;
    grid-area: header;
    background: rebeccapurple;

    .header__content {
      width: 1700px;

      .header__logo {
        width: 50px;
        height: 50px;
      }

      ul {
        width: 300px;

        .active-page {
          color: #f92552;
        }

        a {
          font-size: 20px;
          color: white;
        }
      }

      .header__logout {
        width: 60px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s;
        position: relative;

        &:hover {
          width: 140px;
        }

        .header__avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        button {
          border: 2px solid rebeccapurple;
          font-size: 20px;
          position: absolute;
          left: 70px;
        }
      }
    }
  }

  #content {
    min-height: 100vh;
    grid-area: content;
    background: #888da8;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: block;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

.active {
  color: rgb(249,94,59) !important;
}

.loader {
  position: absolute;
  bottom: -80px;
  left: 212px;
}

.active_settings {
  color: #f92552 !important;
}

.big-input {
  width: 713px !important;
}

.error-container {
  position: relative;

  span {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: -25px;
    color: red;
  }

  .red-border {
    border: 2px solid red !important;
  }

  i {
    position: absolute;
    color: #f92552;
    font-size: 20px;
    right: 10px;
    top: 18px;
  }
}

.pagination {
  font-size: 1.2rem;
  gap: 8px;
  list-style: none;
  align-items: baseline;
  margin-top: 50px;

  li {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-num {
    height: 42px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;

    &:hover {
      background-color: #8860d0;
      color: white;
    }
  }

  .active {
    color: white !important;
    border-radius: 3px;
    background-color: #8860d0;
  }

  .paginator-btn {
    font-size: 25px;
  }

  .left {
    margin-right: 20px;
  }

  .right {
    margin-left: 20px;
  }
}

.users {
  .loader {
    bottom: -20px;
    left: 920px;
  }
}

.email {
  .loader {
    left: 1132px;
    bottom: 260px;
  }
}

@media (max-width: 425px) {
  .error-container {
    span {
      font-size: 14px;
      top: -20px;
    }

    i {
      font-size: 17px;
      right: 10px;
      top: 16px;
    }
  }
}

@media (max-width: 325px) {
  .error-container {
    span {
      font-size: 13px;
      top: -20px;
    }

    i {
      font-size: 15px;
      top: 14px;
    }
  }
}