.content {
    height: 100vh;
    background: black;

    .content-container {
        width: 600px;
        margin: auto;

        h1,p,button {
            font-weight: 500;
            color: white;
        }

        h1 {
            font-size: 50px;
        }

        hr {
            width: 2px;
            height: 50px;
            background: white;
            margin: 0 30px;
        }

        p {
            width: 400px;
            font-size: 25px;
            text-align: center;
            line-height: 35px;
        }
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin: 50px auto;
        border-radius: 10px;
        background: rebeccapurple;
        transition: 0.4s;

        &:hover {
            transform: translateY(-20px);
        }
    }
}

@media (max-width: 650px) {
    .content {
        .content-container {
            width: 500px;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 20px;
                line-height: 30px;
            }
        }

        button {
            width: 170px;
            height: 40px;
            font-size: 18px;
        }
    }
}

@media (max-width: 650px) {
    .content {
        .content-container {
            width: 500px;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 20px;
                line-height: 30px;
            }
        }

        button {
            width: 170px;
            height: 40px;
            font-size: 18px;
        }
    }
}

@media (max-width: 550px) {
    .content {
        .content-container {
            width: 400px;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
                line-height: 22px;
            }
        }

        button {
            width: 140px;
            height: 35px;
            font-size: 17px;
        }
    }
}

@media (max-width: 430px) {
    .content {
        .content-container {
            width: 300px;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
                line-height: 20px;
            }
        }

        button {
            width: 130px;
            height: 35px;
            font-size: 15px;
            margin: 40px auto;
        }
    }
}