@media screen and(max-width: 735px) {
  .login {
    width: 500px;
    height: 700px;
  }
}

@media screen and(max-width: 560px) {
  .login {
    width: 450px;

    .login__actions {
      width: 80px;

      button {
        font-size: 20px;
      }
    }

    .login__content {
      .error-container {
        .error-text {
          font-size: 15px;
          left: 10px;
        }

        .error {
          right: 17px;
        }
      }

      input {
        width: 280px;
        margin: auto auto 40px;
      }

      .content__checkbox {
        .checkbox__input {
          width: 18px;
          height: 18px;
          margin: 0 10px 30px !important;
        }
      }

      .content__submit {
        width: 319px;
      }
    }
  }
}

@media screen and(max-width: 480px) {
  .login {
    width: 400px;
    height: 650px;

    .login__content {
      .error-container {
        .error-text {
          font-size: 15px;
          left: 10px;
        }

        .error {
          right: 17px;
        }
      }

      input {
        width: 240px;
      }

      .content__checkbox {
        .checkbox__input {
          width: 17px;
          height: 17px;
        }

        .checkbox__label {
          font-size: 15px;
        }
      }

      .content__submit {
        width: 277px;
      }
    }
  }
}

@media screen and(max-width: 420px) {
  .login {
    width: 350px;
    height: 600px;

    .login__actions {
      width: 70px;

      button {
        font-size: 19px;
      }
    }

    .login__content {
      .error-container {
        .error-text {
          left: 7px;
        }

        .error {
          top: 16px;
        }
      }

      input {
        width: 210px;
        height: 15px;
      }

      .content__checkbox {
        .checkbox__input {
          width: 16px;
          height: 16px;
        }

        .checkbox__label {
          font-size: 14px;
        }
      }

      .content__submit {
        width: 247px;
        height: 48px;
      }
    }
  }
}