* {
  margin: 0;
  padding: 0;
}

#login-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(249, 94, 59);
}

.active-action {
  color: rgb(249, 94, 59) !important;
}

.login {
  width: 550px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 0 10px 10px 0;
}
.login .login__actions {
  width: 100px;
  height: 100%;
  border-right: 1px solid #e6ecf5;
}
.login .login__actions button {
  width: 100%;
  height: 50%;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #c0c4d8;
  font-size: 21px;
}
.login .login__actions button:first-child {
  border-bottom: 1px solid #e6ecf5;
}
.login .login__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login .login__content .loader {
  position: absolute;
}
.login .login__content .login__register {
  text-align: center;
}
.login .login__content .login__register .register__title {
  font-size: 30px;
  margin-bottom: 40px;
}
.login .login__content .login__register .register__link {
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  color: rgb(249, 94, 59);
}
.login .login__content .error-container {
  position: relative;
}
.login .login__content .error-container .error-text {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 5px;
  top: -25px;
  color: red;
}
.login .login__content .error-container .red-border {
  border: 2px solid red;
}
.login .login__content .error-container .error {
  position: absolute;
  color: #f92552;
  font-size: 20px;
  right: 10px;
  top: 18px;
}
.login .login__content input {
  display: block;
  width: 300px;
  height: 20px;
  border: 1px solid #e6ecf5;
  padding: 1.5rem 1.1rem 0.5rem;
  line-height: 1.75;
  border-radius: 5px;
  margin-bottom: 30px;
}
.login .login__content input:focus {
  color: #212529;
  background-color: transparent;
  border-color: #ffc6ba;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.login .login__content .content__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login .login__content .content__checkbox .checkbox__input {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}
.login .login__content .content__checkbox label {
  display: block;
}
.login .login__content .content__submit {
  width: 337px;
  height: 50px;
  padding: 0;
  background: rgb(249, 94, 59);
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.login .login__content .content__submit:hover {
  background: rgba(249, 94, 59, 0.9);
}
.login .login__content .content__submit:focus {
  background: rgb(249, 94, 59);
  color: white;
}