@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

.container {
  min-height: 100vh;
  background: #8860d0;
  padding: 50px 20px;
  color: white;
  font-family: sans-serif, Arial, Roboto;

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    .module {
      width: 100%;
      margin-bottom: 50px;

      .show {
        height: auto !important;
      }

      .module__header {
        margin-bottom: 30px;

        button {
          display: block;
          border-radius: 10px;
          padding: 4px 2px;
          color: #5ab9ea;
          font-weight: 600;
          font-size: 20px;
          cursor: pointer;

          background: linear-gradient(to left, #8860d0 50%, #5ab9ea 50%) right;
          background-size: 300%;
          transition: .6s ease-out;

          &:hover {
            color: white;
            background-position: left;
          }
        }
      }

      .module__content {
        height: 0;
        transition: height 1s;
        overflow: hidden;

        .module__request {
          padding-left: 20px;
          margin-bottom: 20px;

          .post {
            background: rgb(17, 165, 74);
          }

          .post-url {
            background: rgba(17, 165, 74, 0.6);
            border-top: 1px solid rgb(17, 165, 74);
            border-bottom: 1px solid rgb(17, 165, 74);
          }

          .get {
            background: rgb(15, 107, 181);
          }

          .get-url {
            background: rgba(15, 107, 181, 0.6);
            border-top: 1px solid rgb(15, 107, 181);
            border-bottom: 1px solid rgb(15, 107, 181);
          }

          .put {
            background: rgb(201, 134, 52);
          }

          .put-url {
            background: rgba(201, 134, 52, 0.6);
            border-top: 1px solid rgb(201, 134, 52);
            border-bottom: 1px solid rgb(201, 134, 52);
          }

          .delete {
            background: rgb(159, 41, 25);
          }

          .delete-url {
            background: rgba(159, 41, 25, 0.6);
            border-top: 1px solid rgb(159, 41, 25);
            border-bottom: 1px solid rgb(159, 41, 25);
          }

          .request-header {
            cursor: pointer;

            .request-type {
              width: 95px;
              padding: 10px 15px;
              font-size: 13px;
              text-align: center;
            }

            .request-url {
              width: 97%;
              height: 35px;
              font-size: 18px;
              padding: 8px 0 0 20px;
            }
          }

          .show-content {
            padding: 30px 10px;
            height: fit-content !important;
          }

          .post-content {
            background: rgba(17, 165, 74, 0.6);
          }

          .get-content {
            background: rgba(15, 107, 181, 0.6);
          }

          .put-content {
            background: rgba(201, 134, 52, 0.6);
          }

          .delete-content {
            background: rgba(159, 41, 25, 0.6);
          }

          .request-content {
            height: 0;
            overflow: hidden;

            .content-item {
              margin-bottom: 20px;

              h1 {
                text-align: left;
                font-size: 20px;
                color: white;
                margin-bottom: 10px;

                span {
                  color: rgba(255, 0, 0, 0.86);
                }

                .success {
                  color: lightgreen;
                }
              }

              p {
                width: 100%;
                padding: 10px;
                background: rgb(252, 246, 219);
                color: black;
                white-space: pre;
              }
            }
          }
        }
      }
    }
  }
}