@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  background: #8860d0;
  color: white;
  font-family: sans-serif, Arial, Roboto;
  padding: 50px 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 50px;
}
.container .content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .content .module {
  width: 100%;
  margin-bottom: 50px;
}
.container .content .module .show-big {
  height: 500px !important;
}
.container .content .module .show-small {
  height: 210px !important;
}
.container .content .module .module__header {
  margin-bottom: 30px;
}
.container .content .module .module__header .module__btn {
  border-radius: 10px;
  padding: 4px 2px;
  color: #5ab9ea;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #8860d0), color-stop(50%, #5ab9ea)) right;
  background: linear-gradient(to left, #8860d0 50%, #5ab9ea 50%) right;
  background-size: 300%;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.container .content .module .module__header .module__btn:hover {
  color: white;
  background-position: left;
}
.container .content .module .module__content {
  height: 0;
  -webkit-transition: height 1s;
  transition: height 1s;
  overflow: hidden;
}
.container .content .module .module__content .module__request {
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.container .content .module .module__content .module__request .post {
  background: rgb(17, 165, 74);
}
.container .content .module .module__content .module__request .post-url {
  background: rgba(17, 165, 74, 0.6);
}
.container .content .module .module__content .module__request .get {
  background: rgb(15, 107, 181);
}
.container .content .module .module__content .module__request .get-url {
  background: rgba(15, 107, 181, 0.6);
}
.container .content .module .module__content .module__request .put {
  background: rgb(201, 134, 52);
}
.container .content .module .module__content .module__request .put-url {
  background: rgba(201, 134, 52, 0.6);
}
.container .content .module .module__content .module__request .delete {
  background: rgb(159, 41, 25);
}
.container .content .module .module__content .module__request .delete-url {
  background: rgba(159, 41, 25, 0.6);
}
.container .content .module .module__content .module__request .module__request-type {
  width: 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  font-size: 13px;
  text-align: center;
}
.container .content .module .module__content .module__request .module__url {
  width: 97%;
  height: 37px;
  font-size: 18px;
  padding: 8px 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}