html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
textarea {
  resize: none;
}
textarea:focus-visible {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-wrapper {
  display: grid;
  grid-template-areas:
          'header'
          'content';

  #header {
    height: 100px;
    grid-area: header;
    background: rebeccapurple;

    .header__content {
      width: 1700px;

      .header__logo {
        width: 50px;
        height: 50px;
      }

      ul {
        width: 300px;

        .active-page {
          color: #f92552;
        }

        a {
          font-size: 20px;
          color: white;
        }
      }

      .header__logout {
        width: 60px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s;
        position: relative;

        &:hover {
          width: 140px;
        }

        .header__avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        button {
          border: 2px solid rebeccapurple;
          font-size: 20px;
          position: absolute;
          left: 70px;
        }
      }
    }
  }

  #content {
    min-height: 100vh;
    grid-area: content;
    background: #888da8;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: block;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

.active {
  color: rgb(249,94,59) !important;
}

.loader {
  width: fit-content;
  margin: 30px auto 0;
}

.active_settings {
  color: #f92552 !important;
}