.settings {
  min-height: 100vh;

  .active {
    color: #f92552 !important;
  }

  .settings__container {
    width: 1200px;
    height: 450px;
    margin: auto;

    .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
      color: #515365;
      padding: 25px 23px 18px;
    }

    hr {
      width: 100%;
      height: 1px;
      background: #515365;
      border: none;
    }

    nav {
      width: 250px;
      height: 100%;
      background: rebeccapurple;
      border-radius: 20px;

      ul {
        width: 80%;

        .list-item {
          display: block;
          font-size: 20px;
          font-weight: 500;
          color: white;
          margin-bottom: 30px;
          cursor: pointer;
          text-decoration: none;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .settings-form {
      width: 800px;
      height: 100%;
      background: white;
      border-radius: 20px;

      .activated-email {
        position: relative;

        i {
          position: absolute;
          font-size: 20px;
          color: green;
          right: 15px;
          top: 18px;
        }
      }

      .text {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }

      .cancel {
        width: 170px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;
        background: red;
        margin: 30px auto;

        &:hover {
          transform: translateY(-10px);
        }
      }

      form {
        padding: 40px 25px;

        .big-input {
          width: 713px;
        }

        .error-container {
          position: relative;

          .error-text {
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            left: 5px;
            top: -25px;
            color: red;
          }

          .red-border {
            border: 2px solid red;
          }

          .error {
            position: absolute;
            color: #f92552;
            font-size: 20px;
            right: 10px;
            top: 18px;
          }
        }

        input {
          display: block;
          width: 300px;
          height: 20px;
          border: 1px solid #e6ecf5;
          padding: 1.5rem 1.1rem 0.5rem;
          line-height: 1.75;
          font-size: 15px;
          border-radius: 5px;
          margin-bottom: 30px;

          &:focus {
            color: #212529;
            background-color: transparent;
            border-color: rebeccapurple;
            outline: 0;
            box-shadow: none;
          }
        }

        .submit {
          width: 750px;
          height: 50px;
          padding: 0;
          background: rebeccapurple;
          border-radius: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}