.modal {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;

  form {
    width: 400px;
    height: 420px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 45px 25px;

    .error-container {
      position: relative;

      .error-text {
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        left: 35px;
        top: -25px;
        color: red;
      }

      .red-border {
        border: 2px solid red;
      }

      .error {
        position: absolute;
        color: #f92552;
        font-size: 20px;
        right: 40px;
        top: 14px;
      }
    }

    input[type=text] {
      display: block;
      width: 300px;
      height: 10px;
      border: 1px solid rebeccapurple;
      padding: 1.5rem 1.1rem 0.5rem;
      line-height: 1.75;
      border-radius: 5px;
      margin: 0 auto 40px;
      font-size: 18px;

      &:focus {
        color: #212529;
        background-color: transparent;
        outline: 0;
        box-shadow: none;
      }
    }

    .files {
      width: 300px;
      margin: 30px auto;

      .box {
        width: 50px;
        height: 100px;
        position: relative;

        label {
          position: absolute;
          top: -30px;
          text-align: center;
          font-weight: 500;
        }

        input {
          width: 50px;
          height: 50px;
          display: block;
          position: absolute;
          opacity: 0;
          z-index: 1;
          cursor: pointer;
        }

        .circle {
          width: 50px;
          height: 50px;
          background: rebeccapurple;
          border-radius: 50%;
          position: absolute;
          top: 0;

          i {
            font-size: 30px;
            color: white;
          }
        }

        .photo-name {
          font-size: 13px;
          position: absolute;
          bottom: 0;
          left: -45px;
          text-align: center;
        }
      }
    }

    .buttons {
      width: 400px;

      button {
        width: 170px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border: none;
        transition: 0.3s;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .submit {
        background: green;
      }

      .cancel {
        background: red;
      }
    }
  }
}