.profile {
  max-width: 1400px;
  margin: 100px auto auto;

  .header {
    width: 100%;
    height: fit-content;
    position: relative;

    .header__settings {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: rebeccapurple;
      background: transparent;
      cursor: pointer;
      border: none;
    }

    .header__banner {
      width: 100%;
      height: 300px;
    }

    .header__user {
      position: absolute;
      top: 220px;
      left: 650px;
      z-index: 1;
      text-align: center;

      .header__name {
        font-size: 25px;
        font-weight: 500;
      }

      .header__location {
        font-size: 15px;
        opacity: 0.9;
      }

      .header__avatar {
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
    }

    .header__tile {
      height: 100px;
      transform: translateY(-4px);
      background: white;
    }
  }
}