.profile {
  max-width: 1400px;
  margin: 100px auto auto;
}
.profile .header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.profile .header .header__settings {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: rebeccapurple;
  background: transparent;
  cursor: pointer;
  border: none;
}
.profile .header .header__banner {
  width: 100%;
  height: 300px;
}
.profile .header .header__user {
  position: absolute;
  top: 220px;
  left: 650px;
  z-index: 1;
  text-align: center;
}
.profile .header .header__user .header__name {
  font-size: 25px;
  font-weight: 500;
}
.profile .header .header__user .header__location {
  font-size: 15px;
  opacity: 0.9;
}
.profile .header .header__user .header__avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.profile .header .header__tile {
  height: 100px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background: white;
}