@import "Profile.module";

$grey: #F1F5F9;
$blue: #1A73E8;

.auth-wrapper {
  background: $grey;
}

.auth {
  width: 450px;
  min-height: 400px;
  background: white;

  a {
    color: $blue;

    &:after {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 1px;
      width: 100%;
      height: 1px;
      background-color: $blue;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      transform-origin: left;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  form {
    @keyframes hidePassword {
      0% {
        color: rgba(0, 0, 0, 1);
      }
      50% {
        color: rgba(0, 0, 0, 0);
      }
      100% {
        color: rgba(0, 0, 0, 1);
      }
    }

    @keyframes showPassword {
      0% {
        color: rgba(0, 0, 0, 1);
      }
      50% {
        color: rgba(0, 0, 0, 0);
      }
      100% {
        color: rgba(0, 0, 0, 1);
      }
    }

    .hide-password {
      animation: hidePassword 0.3s ease-in-out forwards;
    }

    .show-password {
      animation: showPassword 0.3s ease-in-out forwards;
    }

    .input-container {
      .error {
        color: $red;
        top: -19px;
        left: 24px;
      }

      input {
        background: $grey;
        border: 1px solid #e6ecf5;

        &:focus {
          color: #212529;
          border-color: $blue;
        }
      }

      .focused {
        top: 16% !important;
        left: 24px !important;
        font-size: 11px !important;
        color: $blue !important;
        font-weight: 500;
      }

      .eye, .placeholder {
        top: 50%;
        transform: translateY(-50%);
      }

      .placeholder {
        left: 20px;
      }
    }

    button {
      background: $blue;

      &:hover {
        transform: translateY(-10px);
        background: rgba(26, 140, 232, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .auth-wrapper {
    padding: 100px 0;
  }

  .auth {
    width: 420px;
    height: 700px;

    .auth__actions {
      width: 80px;
    }

    .auth__content {
      input {
        margin: auto auto 30px;
      }

      input[type=checkbox] {
        width: 18px;
        height: 18px;
      }

      .auth__submit {
        height: 48px;
      }
    }
  }
}

@media (max-width: 425px) {
  .auth {
    width: 370px;
    height: 600px;

    .auth__actions {
      width: 60px;

      a {
        font-size: 17px;
      }
    }

    .auth__content {
      input {
        height: 40px;
        margin: auto auto 25px;
        padding: 12px 10px 6px;
        font-size: 13px;
      }

      i {
        font-size: 14px;
      }

      .auth__checkbox {
        font-size: 14px;

        input {
          width: 16px;
          height: 16px;
        }
      }

      .auth__submit {
        height: 40px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 375px) {
  .auth {
    width: 310px;
    height: 550px;

    .auth__actions a {
      font-size: 16px;
    }

    .auth__content {
      input {
        height: 35px;
        font-size: 12px;
      }

      i {
        font-size: 12px;
      }

      .auth__checkbox {
        font-size: 13px;

        input {
          width: 15px;
          height: 15px;
        }
      }

      .auth__submit {
        height: 35px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 320px) {
  .auth {
    width: 280px;
  }
}
