@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import "MainLayout.module";
@import "Profile.module";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins,sans-serif;
}

::selection {
  background-color: $pink;
  color: #ffffff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pass-requirement {
  width: 330px;
}

.pass-requirements {
  .fa-xmark {
    color: $red;
  }

  .fa-check {
    color: $green;
  }
}

.avatar {
  left: 2px;
}

.success {
  border: 1px solid green !important;
}

.success-image {
  background: green !important;
}

.red-border {
  border: 1px solid $red !important;
}

.err-icon {
  top: 50%;
  transform: translateY(-50%);
  color: $red;
}

.loader {
  width: fit-content;
  margin: 30px auto 0;
}

.users .loader {
  bottom: -20px;
  left: 920px;
}

.email .loader {
  left: 1132px;
  bottom: 260px;
}

@media (max-width: 768px) {
  .pass-requirement {
    width: 300px;
    font-size: 13px;
  }

  #app-wrapper #header {
    height: 450px;

    .header__content {
      flex-direction: column;
      grid-gap: 50px;

      nav {
        height: 40px;

        ul {
          flex-direction: column;
          gap: 25px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .pass-requirement {
    width: 270px;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .pass-requirement {
    width: 250px;
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .pass-requirement {
    width: 100%;
    font-size: 11px;
  }
}
