@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import "MainLayout.module";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins,sans-serif;
}

::selection {
  background-color: $pink; /* Колір фону виділеного тексту */
  color: #ffffff; /* Колір виділеного тексту */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  .fa-xmark {
    color: red;
  }

  .fa-check {
    color: green;
  }
}

.text-red {
  color: red;
}

.avatar {
  left: 2px;
}

.success {
  border: 1px solid green !important;
}

.success-image {
  background: green !important;
}

.burger {
  background: transparent;
  border: none;
  color: #fff;
  display: none;
  font-size: 33px;
  margin: auto auto 30px auto;
}

.active {
  color: rgb(249,94,59) !important;
}

.active_settings {
  color: #f92552 !important;
}

.big-input {
  width: 95% !important;
}

.error-container {
  position: relative;

  span {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: -18px;
    color: red;
  }

  .red-border {
    border: 2px solid red !important;
  }

  i {
    position: absolute;
    color: #f92552;
    font-size: 20px;
    right: 10px;
    top: 18px;
  }
}

.pagination {
  font-size: 1.2rem;
  gap: 8px;
  list-style: none;
  align-items: baseline;
  margin-top: 50px;

  li {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-num {
    height: 42px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;

    &:hover {
      background-color: #8860d0;
      color: white;
    }
  }

  .active {
    color: white !important;
    border-radius: 3px;
    background-color: #8860d0;
  }

  .paginator-btn {
    font-size: 25px;
  }

  .left {
    margin-right: 20px;
  }

  .right {
    margin-left: 20px;
  }
}

.loader {
  width: fit-content;
  margin: 30px auto 0;
}

.users .loader {
  bottom: -20px;
  left: 920px;
}

.email .loader {
  left: 1132px;
  bottom: 260px;
}

@media (max-width: 1225px) {
  .big-input {
    width: 94% !important;
  }
}

@media (max-width: 1024px) {
  .big-input {
    width: 92% !important;
  }
}

@media (max-width: 768px) {
  .inputs {
    flex-direction: column;
    gap: 30px;
  }

  .activate {
    height: 350px !important;
  }

  .change-pass {
    height: 450px !important;

    .inputs {
      margin-top: 25px;
      gap: 25px !important;
    }
  }

  .burger {
    display: block;
  }

  .big-input {
    width: 90% !important;
  }

  .error-container i {
    top: 15px;
  }

  #app-wrapper #header {
    height: 450px;

    .header__content {
      flex-direction: column;
      grid-gap: 50px;

      nav {
        height: 40px;

        ul {
          flex-direction: column;
          gap: 25px;
        }
      }
    }
  }
}


@media (max-width: 425px) {
  .captcha {
    transform: scale(0.6) !important;
  }

  .big-input {
    width: 88% !important;
  }

  .settings-form .error-container {
    span {
      font-size: 15px;
    }

    i {
      font-size: 18px;
      top: 18px;
    }
  }

  .error-container {
    span {
      font-size: 14px;
      top: -20px;
    }

    i {
      font-size: 17px;
      right: 10px;
      top: 16px;
    }
  }
}

@media (max-width: 375px) {
  .captcha {
    transform: scale(0.5) !important;
  }

  .big-input {
    width: 86% !important;
  }

  .error-container {
    span {
      font-size: 13px;
      top: -20px;
    }

    i {
      font-size: 15px;
      top: 14px;
    }
  }
}
