@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import "MainLayout.module";
@import "Profile.module";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins,sans-serif;
}

::selection {
  background-color: $pink;
  color: #ffffff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  background: radial-gradient(farthest-side,$pink 94%,#0000) top/8px 8px no-repeat, conic-gradient(#0000 30%,$pink);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 0.5s infinite linear;
}

@keyframes s3{
  100%{
    transform: rotate(1turn)
  }
}

.avatar {
  left: 2px;
}

.success {
  border: 1px solid green !important;
}

.success-image {
  background: green !important;
}

.red-border {
  border: 1px solid $red !important;
}

.err-icon {
  top: 50%;
  transform: translateY(-50%);
  color: $red;
}

.pass-requirements {
  .fa-xmark {
    color: $red;
  }

  .fa-check {
    color: $green;
  }
}

@media (max-width: 768px) {
  #app-wrapper #header {
    height: 450px;

    .header__content {
      flex-direction: column;
      grid-gap: 50px;

      nav {
        height: 40px;

        ul {
          flex-direction: column;
          gap: 25px;
        }
      }
    }
  }
}
