.content {
    background: black;

    .text {
        width: 600px;

        hr {
            background: white;
        }
    }

    button {
        background: rebeccapurple;

        &:hover {
            transform: translateY(-20px);
        }
    }
}

@media (max-width: 768px) {
    .content {
        .text {
            width: 420px;

            h1 {
                font-size: 40px;
            }

            p {
                max-width: 290px;
                font-size: 20px;
            }
        }

        button {
            width: 170px;
            height: 40px;
            font-size: 18px;
        }
    }
}

@media (max-width: 425px) {
    .content .text {
        width: 370px;

        h1 {
            font-size: 36px;
        }

        p {
            max-width: 240px;
            font-size: 18px;
        }
    }
}

@media (max-width: 375px) {
    .content {
        .text {
            width: 320px;

            h1 {
                font-size: 32px;
            }

            p {
                max-width: 200px;
                font-size: 16px;
            }
        }

        button {
            width: 120px;
            height: 32px;
            font-size: 16px;
        }
    }
}
