#profile {
  max-width: 1400px;

  .header {
    .banner {
      height: 300px;
    }

    .user {
      top: 220px;
      left: 650px;

      img {
        width: 110px;
        height: 110px;
      }
    }

    .tile {
      height: 100px;
      transform: translateY(-4px);
      background: rebeccapurple;
    }

    .subscription {
      right: 50px;
      bottom: 50px;

      button {
        width: 80px;
        height: 30px;
      }

      .follow {
        background: rgb(0, 149, 246);

        &:hover {
          background: rgb(24, 119, 242);
        }
      }

      .unfollow {
        background: #EFEFEF;

        &:hover {
          background: #DBDBDB;
        }
      }
    }

    .settings-btn {
      right: 10px;
      top: 10px;
      color: rebeccapurple;
    }
  }

  .main {
    max-width: 1400px;
    grid-template-areas: 'info posts subscriptions';
    grid-template-columns: 1fr 2.1fr 1fr;

    hr {
      background: white;
    }

    .information {
      grid-area: info;
      background: rebeccapurple;

      i {
        transition: 150ms;
      }

      .cancel, .submit {
        &:hover {
          transform: scale(1.6);
        }
      }

      .cancel {
        color: red;
      }

      .submit {
        color: green;
      }

      .cancel:hover {
        color: red;
      }

      .submit:hover {
        color: green;
      }

      h3, .information__item {
        padding: 23px 25px 18px 25px;
      }

      .information__item {
        textarea {
          width: 97%;
          height: 100px;
        }

        .information__title {
          width: 98%;
        }

        p {
          overflow-wrap: break-word;
        }
      }
    }

    .posts {
      grid-area: posts;

      .post {
        background: rebeccapurple;
      }

      .posts__creation {
        div {
          width: 300px;

          button {
            width: 130px;

            &:hover {
              transform: translateY(-10px);
            }
          }

          .submit {
            background: green;
          }

          .cancel {
            background: red;
          }
        }
      }

      .posts__new-post button {
        color: rebeccapurple;
      }
    }

    .subscriptions {
      grid-area: subscriptions;
      background: rebeccapurple;

      .subscriptions__list {
        padding: 23px 25px 13px;
      }
    }
  }
}

@media (max-width: 1440px) {
  #profile {
    max-width: 1000px;

    .header .user {
      left: 455px;
    }
  }
}

@media (max-width: 1024px) {
  #profile {
    max-width: 760px;

    .header .user {
      left: 325px;
    }

    .main {
      grid-template-areas:  'info subscriptions'
                            'posts posts';
      grid-template-columns: 1.2fr 1fr;
    }
  }
}

@media (max-width: 768px) {
  #profile {
    max-width: 99%;

    .header {
      .user {
        left: calc(50% - 55px);
      }

      .subscribe {
        right: 30px;

        button {
          width: 65px;
          height: 25px;
          font-size: 12px;
          line-height: 10px;
        }
      }
    }

    .main {
      grid-template-areas:  'info'
                            'subscriptions'
                            'posts';
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
  }
}
