@import "MainLayout.module";

$grey: #e6ecf5;
$green: #00b894;
$red: #e74c3c;

#profile {
  width: 70%;

  #header {
    #modal .container {
      width: 500px;
      height: 300px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

      @keyframes rotateCloseBtn {
        0% { rotate: 0deg }
        20% { rotate: -10deg }
        40% { rotate: 10deg }
        60% { rotate: -10deg }
        80% { rotate: 10deg }
        100% { rotate: 0deg }
      }

      .cancel {
        color: $red;

        &:hover {
          animation: 0.6s rotateDeleteBtn linear;
        }
      }

      .err-container {
        span {
          top: -20px;
          color: $red;
        }

        i {
          top: 50%;
          transform: translateY(-50%);
          color: $red;
        }
      }

      input {
        border: 1px solid #e6ecf5;

        &:focus {
          border-color: rebeccapurple;
        }
      }

      .submit {
        width: 100px;
        background: rgba(102, 51, 153, 1);
        transition: 200ms;

        &:hover {
          background: $pink;
        }
      }
    }

    .banner {
      height: 350px;
      border-radius: 10px 10px 0 0;

      div {
        height: 350px;
        border-radius: 10px 10px 0 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .banner-loader {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%);
    }

    .user {
      bottom: -70px;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 110px;
        height: 110px;
      }

      label {
        bottom: 2px;
        right: 20%;
      }

      button {
        background: $pink;
        transition: 300ms;

        &:hover {
          scale: 1.2;
        }
      }

      .loader-background {
        width: 110px;
        height: 110px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 9999px;
      }

      .avatar-loader {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
          width: 12px !important;
          height: 12px !important;
        }
      }

      p {
        color: $grey;
      }
    }

    .tile {
      height: 80px;
      transform: translateY(-4px);
      background: $purple;
    }

    .settings {
      right: 10px;
      top: 10px;
      color: $purple;

      &:hover {
        animation: rotate 2s linear infinite;
      }
    }

    .subscription {
      right: 50px;
      top: 50%;
      transform: translateY(-50%);

      button {
        width: 90px;
        height: 35px;
        padding: 10px 20px;

        &:active {
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
      }

      .follow {
        background: rgb(0, 149, 246);

        &:hover {
          background: rgb(24, 119, 242);
        }
      }

      .unfollow {
        background: rgb(250, 2, 2);

        &:hover {
          background: rgba(250, 2, 2, 0.8);
        }
      }

      .ripple-effect {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        transform: scale(0);
        pointer-events: none;
        animation: ripple 0.5s ease-out;
      }

      @keyframes ripple {
        to {
          transform: scale(2);
          opacity: 0;
        }
      }
    }

    @keyframes rotate {
      to {
        rotate: 360deg;
      }
    }

    .upload-banner label {
      width: 170px;
      height: 36px;

      button {
        background: rgb(0, 0, 0, 0.4) !important;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

        &:hover {
          background: rgb(0, 0, 0, 0.8) !important;
        }

        &:active {
          box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
        }
      }
    }
  }

  #main {
    grid-template-areas:  'intro posts subscriptions'
                          'intro posts subscriptions';
    grid-template-columns: 1fr 1.8fr 300px;

    hr {
      background: white;
    }

    .profile-intro {
      grid-area: intro;
      background: $purple;
      border-radius: 10px 10px 0 0;

      h3, .profile-intro__item {
        padding: 23px 25px 18px 25px;
      }

      .profile-intro__item {
        .run-animation:after {
          animation: moveGradient 3.5s alternate infinite;
        }

        .gradient-border {
          --border-width: 3px;
          width: 100%;
          height: 100px;

          &::after {
            position: absolute;
            content: "";
            top: calc(-1 * var(--border-width));
            left: calc(-1 * var(--border-width));
            z-index: 1;
            width: calc(100% + var(--border-width) * 2);
            height: calc(100% + var(--border-width) * 2);
            background: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%));
            background-size: 300% 300%;
            background-position: 0 50%;
            border-radius: 10px;
          }

          textarea {
            border-radius: 10px;
            z-index: 2;
          }
        }

        @keyframes moveGradient {
          50% {
            background-position: 100% 50%;
          }
        }

        @keyframes writing {
          0% {
            rotate: 0deg;
          }
          50% {
            rotate: 20deg;
          }
          100% {
            rotate: 0deg;
          }
        }

        .pen:hover {
          color: $pink;
          animation: 0.4s writing linear 2;
        }

        .profile-intro__actions {
          font-size: 18px;

          i:first-child {
            color: $green;
          }

          i:last-child {
            color: $red;
          }

          i {
            transition: 150ms;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        p {
          overflow-wrap: break-word;
          color: $grey;
        }
      }
    }

    .posts {
      grid-area: posts;

      .posts__create-post-btn:hover {
        color: $pink;
      }

      .post {
        border-radius: 10px 10px 0 0;
        background: $purple;

        @keyframes rotateDeleteBtn {
          0% {
            rotate: 0deg;
          }
          20% {
            rotate: -10deg;
          }
          40% {
            rotate: 10deg;
          }
          60% {
            rotate: -10deg;
          }
          80% {
            rotate: 10deg;
          }
          100% {
            rotate: 0deg;
          }
        }

        button {
          top: -10px;
          right: -10px;

          &:hover {
            transform: scale(1.3);
            color: $pink;
            animation: 0.6s rotateDeleteBtn linear;
          }
        }

        .post__information p {
          color: $grey;
        }
      }

      .posts__create-post {
        textarea {
          min-height: 50px;
          border-radius: 7px 7px 0 0;
          background: white no-repeat;
          background-image: linear-gradient(to bottom, $pink, $pink), linear-gradient(to bottom, silver, silver);
          background-size: 0 2px, 100% 1px;
          background-position: 50% 100%, 50% 100%;
          transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

          &:focus {
            background-size: 100% 2px, 100% 1px;
          }
        }

        div {
          bottom: -33px;
          left: 50%;
          transform: translate(-50%);

          hr {
            background: black;
          }

          button {
            transition: 300ms;
            font-weight: 500;

            &:first-child {
              border-radius: 0 0 0 10px;
              background: rgb(0, 136, 109);

              &:hover {
                background: $green;
              }
            }

            &:last-child {
              border-radius: 0 0 10px 0;
              background: rgba(183, 67, 54, 1);

              &:hover {
                background: $red;
              }
            }
          }
        }
      }
    }

    .subscriptions {
      grid-area: subscriptions;
      border-radius: 10px 10px 0 0;
      background: $purple;

      .subscriptions__list {
        padding: 23px 25px 13px;

        span {
          color: $pink;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  #profile {
    width: 85%;
  }
}

@media screen and (max-width: 1440px) {
  #profile {
    width: 90%;

    #main {
      grid-template-columns: 1fr 1.8fr 210px;

      .profile-intro {
        h3 {
          padding: 15px 18px;
        }

        .profile-intro__item {
          padding: 15px 18px;
        }
      }


      .subscriptions .subscriptions__list {
        padding: 15px 10px;

        .subscriptions__users {
          grid-template-columns: repeat(4, auto);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #profile #main {
    grid-template-areas:  'intro posts posts'
                          'subscriptions posts posts';
    grid-template-columns: 230px auto auto;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  #profile {
    #header {
      .settings:hover {
        animation: none;
      }

      .subscription {
        right: 20px;
      }

      .upload-banner {
        bottom: 110px;

        label {
          width: 110px;
          height: 30px;

          button {
            font-size: 13px !important;
            padding: 6px 0;
            display: flex;
            flex-direction: column;

            i, span {
              margin: auto;
            }
          }
        }
      }
    }

    #main {
      grid-template-areas:  'intro subscriptions'
                            'posts posts';
      grid-template-columns: auto 215px;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 560px) {
  #profile {
    #header #modal .container {
      width: 400px;
      padding: 24px 0;
    }

    #main {
      grid-template-columns: auto 170px;
      gap: 20px;

      .profile-intro {
        h3 {
          font-size: 16px;
        }

        h4 {
          font-size: 14px;
        }

        p, textarea, button {
          font-size: 13px;
        }

        span {
          font-size: 16px !important;
        }
      }

      .subscriptions .subscriptions__list .subscriptions__users {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #profile {
    #header {
      #modal .container {
        width: 360px;
      }

      .subscription button {
        width: 75px;
        height: 30px;
        font-size: 12px;
      }

      .upload-banner label {
        width: 95px;

        button {
          font-size: 12px !important;
        }
      }
    }

    #main {
      grid-template-areas:    'intro'
                              'subscriptions'
                              'posts';
      grid-template-columns: auto;

      .subscriptions .subscriptions__list .subscriptions__users {
        grid-template-columns: repeat(6, auto);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #profile {
    #header {
      #modal .container {
        width: 330px;
      }

      .subscription {
        right: 15px;

        button {
          width: 60px;
          height: 28px;
          font-size: 11px;
        }
      }

      .upload-banner {
        top: 10px;
        left: 10px;

        label {
          width: 65px;

          button {
            font-size: 12px !important;
            padding: 10px 0;
          }
        }
      }
    }

    #main .posts .post {
      padding: 15px;

      button {
        font-size: 14px;
        right: 0;
      }

      .post__user {
        img {
          width: 35px;
          height: 35px;
        }

        h3 {
          font-size: 14px;
        }

        p {
          font-size: 10px;
        }
      }

      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  #profile {
    #header {
      #modal .container {
        width: 280px;
      }

      .subscription {
        right: 10px;
      }
    }

    #main .subscriptions .subscriptions__list .subscriptions__users {
      grid-template-columns: repeat(5, auto);
    }
  }
}

@media screen and (max-width: 290px) {
  #profile {
    #header {
      #modal .container {
        width: 250px;
      }

      .subscription {
        right: 0;
        top: 95px;

        button {
          width: 75px;
          height: 30px;
          font-size: 12px;
          border-radius: 0 0 5px 5px;
        }
      }
    }

    #main {
      .posts .post p {
        font-size: 12px;
      }

      .subscriptions .subscriptions__list .subscriptions__users {
        grid-template-columns: repeat(4, auto);
      }
    }
  }
}
