#settings {
  .container {
    width: 1200px;
    height: 470px;

    h3 {
      color: #515365;
      padding: 25px 23px 18px;
    }

    hr {
      background: #515365;
    }

    nav {
      width: 250px;
      background: rebeccapurple;

      a {
        display: block;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .content {
      width: 800px;
      background: white;

      .error-container {
        position: relative;

        .error-text {
          font-size: 16px;
          font-weight: 500;
          position: absolute;
          left: 5px;
          top: -25px;
          color: red;
        }

        .red-border {
          border: 2px solid red;
        }

        .error {
          position: absolute;
          color: #f92552;
          font-size: 20px;
          right: 10px;
          top: 18px;
        }
      }

      .input {
        width: 300px;
        height: 50px;
        border: 1px solid #e6ecf5;
        padding: 8px 0 0 10px;
        line-height: 1.75;
        font-size: 15px;
        border-radius: 5px;
        margin-bottom: 10px;

        &:focus {
          color: #212529;
          border-color: rebeccapurple;
        }
      }

      .big-input {
        width: 100%;
      }

      .message {
        width: fit-content;
        display: block;
        margin: 20px auto 0;
        font-weight: 500;
        font-size: 20px;
        color: green;

        i {
          width: fit-content;
          display: block;
          margin: 10px auto 0;
          font-size: 25px;
        }
      }

      .activated-email {
        position: relative;

        i {
          position: absolute;
          font-size: 20px;
          color: green;
          right: 15px;
          top: 18px;
        }
      }

      .loader span {
        height: 10px !important;
      }

      .cancel {
        width: 170px;
        height: 40px;
        background: red;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .submit, button {
        background: rebeccapurple !important;
        transition: 200ms;

        &:hover {
          opacity: 0.9;
        }
      }

      label {
        width: 176px;
        height: 36px;

        .upload-btn {
          background: rgb(77, 84, 125) !important;
          font-family: "Roboto","Helvetica","Arial",sans-serif;
          box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

          &:hover {
            background: rgb(77, 84, 110);
            text-decoration: none;
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
          }

          &:active {
            box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #settings {
    .container {
      width: 1000px;

      nav {
        width: 200px;

        a {
          font-size: 18px;
          margin-bottom: 25px;
        }
      }

      .content {
        width: 700px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #settings {
    .container {
      width: 760px;

      .content {
        width: 500px;

        .cancel:hover {
          transform: translateY(0);
        }

        .inputs, .pass-inputs {
          input {
            width: 220px;
            padding: 18px 12px 6px;
          }
        }

        .forms {
          .files {
            width: 350px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #settings {
    padding: 100px 0;

    .container {
      width: 415px;
      height: fit-content;
      flex-direction: column;

      nav {
        height: 300px;
        text-align: center;

        a:last-child {
          margin-bottom: 0;
        }
      }

      .content {
        width: 99%;
        margin-top: 50px;

        .pass-inputs {
          flex-direction: column;

          input {
            width: 362px;
          }

          div:nth-child(2) {
            margin-top: 24px;
          }
        }

        .inputs {
          flex-direction: column;

          form:last-child {
            margin-top: 30px;
          }

          button {
            width: 100% !important;
            height: 35px;
            margin-top: 5px;
          }
        }

        form {
          div {
            input {
              height: 45px;
            }
          }
        }

        .inputs {
          input {
            width: 320px !important;
            height: 45px;
          }
        }

        .forms {
          .files {
            width: auto;
          }
        }

        .submit {
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #settings {
    .container {
      width: 370px;

      .pass-inputs {
        input {
          width: 318px !important;
        }
      }

      .inputs {
        flex-direction: column;

        input {
          width: 100%;
        }
      }

     .content {
       .message {
         font-size: 16px;

         i {
           font-size: 20px;
         }
       }
     }
    }
  }
}

@media (max-width: 375px) {
  #settings {
    .container {
      width: 320px;

      .content {
        .pass-inputs {
          input {
            width: 270px !important;
          }
        }

        .inputs {
          input {
            width: 270px !important;
          }
        }

        .activation-text {
          font-size: 16px;
        }
      }
    }
  }
}