#settings {
  .container {
    width: 1200px;
    height: 470px;

    h3 {
      color: #515365;
      padding: 25px 23px 18px;
    }

    hr {
      background: #515365;
    }

    nav {
      width: 250px;
      background: rebeccapurple;

      a {
        display: block;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .content {
      width: 800px;
      background: white;

      .error-container {
        position: relative;

        .error-text {
          font-size: 16px;
          font-weight: 500;
          position: absolute;
          left: 5px;
          top: -25px;
          color: red;
        }

        .red-border {
          border: 2px solid red;
        }

        .error {
          position: absolute;
          color: #f92552;
          font-size: 20px;
          right: 10px;
          top: 18px;
        }
      }

      .big-input {
        width: 100%;
      }

      input {
        width: 300px;
        height: 50px;
        border: 1px solid #e6ecf5;
        padding: 8px 0 0 10px;
        line-height: 1.75;
        font-size: 15px;
        border-radius: 5px;
        margin-bottom: 10px;

        &:focus {
          color: #212529;
          border-color: rebeccapurple;
        }
      }

      .message {
        width: fit-content;
        display: block;
        margin: 20px auto 0;
        font-weight: 500;
        font-size: 20px;
        color: green;

        i {
          width: fit-content;
          display: block;
          margin: 10px auto 0;
          font-size: 25px;
        }
      }

      .activated-email {
        position: relative;

        i {
          position: absolute;
          font-size: 20px;
          color: green;
          right: 15px;
          top: 18px;
        }
      }

      .loader {
        width: 45px;
        height: 45px;
        margin: 20px auto 0;
      }

      .cancel {
        width: 170px;
        height: 40px;
        background: red;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .forms {
        .files {
          width: 450px;
          margin: 70px auto;

          button {
            margin-left: 0;
          }

          .box {
            width: 50px;
            height: 100px;
            position: relative;
            margin: auto;

            label {
              position: absolute;
              top: -30px;
              text-align: center;
              font-weight: 500;
            }

            input {
              width: 50px;
              height: 50px;
              position: absolute;
              opacity: 0;
              z-index: 1;
              cursor: pointer;
              padding: 0;
            }

            .circle {
              width: 50px;
              height: 50px;
              background: rebeccapurple;
              border-radius: 50%;
              position: absolute;
              top: 0;

              i {
                font-size: 28px;
                color: white;
              }
            }

            span {
              width: 200px;
              font-size: 14px;
              font-weight: 500;
              position: absolute;
              bottom: 20px;
              left: -82px;
              text-align: center;
            }
          }
        }

        form {
          padding: 0;

          button {
            width: 100px;
            background: rebeccapurple;
          }
        }
      }

      .submit {
        height: 50px;
        background: rebeccapurple;
      }
    }
  }
}

@media (max-width: 1200px) {
  #settings {
    .container {
      width: 1000px;

      nav {
        width: 200px;

        a {
          font-size: 18px;
          margin-bottom: 25px;
        }
      }

      .content {
        width: 700px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #settings {
    .container {
      width: 760px;

      .content {
        width: 500px;

        .cancel:hover {
          transform: translateY(0);
        }

        .inputs, .pass-inputs {
          input {
            width: 220px;
            padding: 18px 12px 6px;
          }
        }

        .forms {
          .files {
            width: 350px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #settings {
    padding: 100px 0;

    .container {
      width: 415px;
      height: fit-content;
      flex-direction: column;

      nav {
        height: 300px;
        text-align: center;

        a:last-child {
          margin-bottom: 0;
        }
      }

      .content {
        width: 99%;
        margin-top: 50px;

        .pass-inputs {
          flex-direction: column;

          input {
            width: 362px;
          }

          div:nth-child(2) {
            margin-top: 24px;
          }
        }

        .inputs {
          flex-direction: column;

          form:last-child {
            margin-top: 30px;
          }

          button {
            width: 100% !important;
            height: 35px;
            margin-top: 5px;
          }
        }

        form {
          div {
            input {
              height: 45px;
            }
          }
        }

        .inputs {
          input {
            width: 320px !important;
            height: 45px;
          }
        }

        .forms {
          .files {
            width: auto;
          }
        }

        .submit {
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #settings {
    .container {
      width: 370px;

      .pass-inputs {
        input {
          width: 318px !important;
        }
      }

      .inputs {
        flex-direction: column;

        input {
          width: 100%;
        }
      }

     .content {
       .message {
         font-size: 16px;

         i {
           font-size: 20px;
         }
       }
     }
    }
  }
}

@media (max-width: 375px) {
  #settings {
    .container {
      width: 320px;

      .content {
        .pass-inputs {
          input {
            width: 270px !important;
          }
        }

        .inputs {
          input {
            width: 270px !important;
          }
        }

        .activation-text {
          font-size: 16px;
        }
      }
    }
  }
}