@import "MainLayout.module";

.pagination {
  font-size: 1.2rem;

  .pagination__num, .pagination__btn {
    transition: 300ms;
    border-radius: 3px;
    color: white;
    padding: 8px 15px;
    background: #8860d0;

    &:hover {
      background: $pink;
      color: white;
    }
  }

  .pagination__num {
    font-weight: 400;
  }

  .active a {
    background: $pink;
    color: white;
    border-radius: 3px;
  }

  .left:hover {
    translate: -7px;
  }

  .right:hover {
    translate: 7px;
  }
}

.user {
  width: 150px;
  height: 250px;
  background: #8860d0;

  &:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);
  }
}

@media screen and (max-width: 1024px) {
  
}
