.profile {
  max-width: 1400px;
  margin: 100px auto 100px;

  textarea {
    resize: none;

    &:focus-visible {
      outline: none;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
    overflow-wrap: break-word;
  }


  .header {
    width: 100%;
    height: fit-content;
    position: relative;

    .header__settings {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: rebeccapurple;
      background: transparent;
      cursor: pointer;
      border: none;
    }

    .header__banner {
      width: 100%;
      height: 300px;
    }

    .header__user {
      position: absolute;
      top: 220px;
      left: 650px;
      z-index: 1;
      text-align: center;
      color: white;

      .header__name {
        font-size: 25px;
        font-weight: 500;
      }

      .header__location {
        font-size: 15px;
        opacity: 0.9;
      }

      .header__avatar {
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
    }

    .header__tile {
      height: 100px;
      transform: translateY(-4px);
      background: rebeccapurple;
    }
  }

  .main {
    max-width: 1400px;
    margin: 60px auto auto;
    color: white;
    align-items: flex-start;

    hr {
      display: block;
      width: 100%;
      height: 2px;
      background: white;
      border: none;
    }

    .information {
      width: 300px;
      background: rebeccapurple;
      border-radius: 10px;

      h3 {
        padding: 23px 25px 18px 25px;
      }

      .information__item {
        padding: 23px 25px 18px 25px;

        textarea {
          width: 250px;
          height: 100px;
          margin-top: 10px;
          border-radius: 10px;
          padding: 5px 0 0 10px;
          box-sizing: border-box;
        }

        .information__title {
          width: 120px;

          .information__title {
            font-size: 15px;
          }

          .information__btn {
            font-size: 12px;
            cursor: pointer;
            border: none;
            background: none;
            color: white;
          }
        }

        .text {
          margin: 10px 0 0 10px;
        }
      }
    }

    .posts {
      width: 600px;

      .post {
        width: 100%;
        height: fit-content;
        padding: 25px;
        border-radius: 10px;
        background: rebeccapurple;
        margin-bottom: 30px;
        box-sizing: border-box;

        .post__header {
          margin-bottom: 20px;

          .post__user {
            width: fit-content;
            text-align: left;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 12px;
            }
          }

          .post__delete {
            display: block;
            border: none;
            background: none;
            font-size: 25px;
            color: white;
            cursor: pointer;
          }
        }

        .post__text {
          font-size: 15px;
          opacity: 1;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .line {
          width: 100%;
          height: 1px;
        }
      }

      .posts__new-post {
        width: fit-content;
        margin: auto;

        h3 {
          text-align: center;
          padding: 0;
          margin-bottom: 10px;
        }

        .add-post {
          display: block;
          background: none;
          border: none;
          margin: auto;
          cursor: pointer;
          font-size: 50px;
          color: rebeccapurple;
        }
      }

      .posts__create {
        margin-bottom: 100px;

        textarea {
          width: 100%;
          height: 100px;
          border-radius: 10px;
          padding: 10px;
          box-sizing: border-box;
        }

        .buttons {
          width: 300px;
          margin: 20px auto auto;

          button {
            width: 130px;
            height: 30px;
            border-radius: 20px;
            cursor: pointer;
            color: white;
            font-size: 16px;
            font-weight: 500;
            border: none;
            transition: 0.3s;

            &:hover {
              transform: translateY(-10px);
            }
          }

          .submit {
            background: green;
          }

          .cancel {
            background: red;
          }
        }
      }
    }

    .subscriptions {
      width: 300px;
      height: fit-content;
      background: rebeccapurple;
      border-radius: 10px;

      h3 {
        padding: 23px 25px 18px;
      }
    }
  }
}